* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  /* height: 200vh; */
}

.header-wrapper {
  width: 100%;
  color: rgb(161, 161, 161);
  background-color: #104414;
  display: flex;
  justify-content: center;
}

.header-nav {
  width: 90%;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  display: flex;
  gap: 8px;
}

.hero-nav {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-nav .logo {
  width: 90%;
  display: flex;
  z-index: 40;
}

.hero-nav .logo img {
  height: 6rem;
  /* padding-top: 1rem; */
  object-fit: contain;
}

/* swiper slider */
.slider-container .container {
  width: 100vw;
  height: 50rem;
}
.slider-container .container .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
/* .slider-container .container .swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.slider-container .container .swiper .swiper-wrapper .swiper-slide .image-box {
  width: 100%;
  height: 100%;
} */
.slider-container .container .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.first-slide-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}

.first-slide-container .wrapper {
  width: 80%;
  display: flex;
}

.first-slide-container .wrapper .left {
  flex: 1;
}
.first-slide-container .wrapper .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.first-slide-container .wrapper .right .color-bars {
  position: absolute;
  width: 10rem;
  right: 0;
}
.first-slide-container .wrapper .right .image-top {
  width: 8rem;
  align-self: flex-end;
  position: relative;
  right: 10rem;
}

.first-slide-container .wrapper .right .image-bottom {
  width: 6rem;
  align-self: center;
}

.first-slide-container .wrapper .right h1 {
  font-size: 38px;
  color: #ff0000;
  transform-style: preserve-3d;
}
.first-slide-container .wrapper .right h2 {
  font-size: 38px;
  line-height: 38px;
  transform-style: preserve-3d;
}
.first-slide-container .wrapper .right h2 span {
  color: #01acfd;
}
.first-slide-container .wrapper .right p {
  width: 80%;
  font-family: "Raleway";
  font-size: 16px;
  line-height: 20px;
}
.first-slide-container .wrapper .right button {
  width: fit-content;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 4rem;
  color: white;
  background-color: rgb(21, 100, 51);
  font-weight: 800;
  font-size: 16px;
  transition: all 0.5s ease;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: "Quicksand";
  opacity: 0;
}
.first-slide-container .wrapper .right button:hover {
  background-color: #ff236c;
}

.second-slide-container {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* overflow-x: hidden; */
}

.second-slide-container .rocket-doodle {
  position: absolute;
  width: 8rem;
  top: 0;
  left: -150px;
}
.second-slide-container .creativity-doodle {
  position: absolute;
  width: 12rem;
  top: 5rem;
  right: 5rem;
  /* transform: rotate(-45deg); */
}
.second-slide-container .arts-doodle {
  position: absolute;
  width: 6rem;
  bottom: 2rem;
  left: 2rem;
}

.second-slide-container .wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.second-slide-container .wrapper div {
  width: 80%;
  font-size: 38px;
  font-weight: 700;
}
.second-slide-container .wrapper div span {
  color: #01acfd;
}
.second-slide-container .wrapper p {
  width: 60%;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.second-slide-container .wrapper button {
  width: fit-content;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 4rem;
  color: white;
  background-color: black;
  font-weight: 800;
  transition: all 0.5s ease;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: "Quicksand";
}

.second-slide-container .wrapper button:hover {
  background-color: #ff236c;
}

.image-box img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  top: 0;
  object-fit: cover;
}
.yellow-blob {
  position: absolute;
  z-index: 20;
  width: 16rem;
  right: 30%;
  top: 4rem;
}
.red-blob {
  position: absolute;
  z-index: 20;
  width: 8rem;
  bottom: 8rem;
  right: 12rem;
}
.blue-blob {
  position: absolute;
  right: -3rem;
  top: -3rem;
  z-index: 20;
  width: 10rem;
  transform: rotate(-30deg);
}
.slide-three-left {
  width: 55%;
}
.slide-three-right {
  z-index: 50;
  width: 45%;
  height: 100%;
  z-index: 20;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
}

.slide-three-right h1 {
  font-size: 34px;
  font-family: "Quicksand";
  font-weight: 800;
  color: #20693c;
}

.slide-three-right h2 {
  font-size: 54px;
  font-family: "Quicksand";
  font-weight: 800;
  color: #20693c;
}

.slide-three-right ul {
  line-height: 2rem;
  margin-top: 2rem;
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 600;
  color: #202020;
}

.slide-three-right ul li:before {
  content: "";
}

.slide-three-right button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 4rem;
  margin-top: 2rem;
  color: white;
  background-color: black;
  font-weight: 800;
  transition: all 0.5s ease;
  border: none;
  cursor: pointer;
  opacity: 0;
}

.slide-three-right button:hover {
  background-color: #ff236c;
}

.swiper-pagination {
  padding-bottom: 4rem;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  box-shadow: inset 0 0 0 1px #ff236c !important;
  border: 1px solid #ff236c !important;
}
.swiper-pagination-bullet-active {
  background-color: #ff236c !important;
}

/* Services */
.service-container {
  width: 100vw;
  min-height: 20rem;
  display: flex;
  justify-content: center;
  color: rgb(46, 45, 45);
  background-image: linear-gradient(rgba(255, 252, 252, 0), rgb(155, 154, 154));
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: "Raleway";
  font-size: "26px";
  font-weight: 700;
  color: #5a5858;
}

.service-wrapper {
  width: 70%;
  display: flex;
  gap: 2rem;
}
.service-wrapper .service {
  width: 25%;
  height: fit-content;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 2rem;
  transition: all 500ms ease;
  cursor: pointer;
}

.service-wrapper .service:hover {
  background-color: white;
}

.service-wrapper .service span {
  text-align: center;
}
.service-wrapper .service-circle {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Curriculum */
.curriculum-container {
  width: 100vw;
  padding-bottom: 4rem;
  min-height: 44rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(81, 158, 110);
}

.curriculum-wrapper {
  width: 85%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.curriculum-wrapper h1 {
  font-size: 46px;
  text-align: center;
  font-weight: 700;
}

.curriculum-card-container {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
}

.curriculum-card {
  padding: 2rem;
  min-height: 27rem;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
  cursor: grab;
}

.curriculum-card:hover {
  transform: translateY(-25px);
}

.curriculum-card-image {
  height: 8rem;
}
.curriculum-card-image img {
  height: 100%;
  object-fit: contain;
}
.curriculum-card button {
  width: fit-content;
  background-color: transparent;
  border: none;
  color: rgb(35, 150, 165);
  font-size: 1.4rem;
  cursor: pointer;
}

/* Details */
.details-container {
  width: 100vw;
  /* height: 30rem; */
  display: flex;
  justify-content: center;
  background-color: #174010;
  color: rgb(240, 240, 240);
  padding-bottom: 6rem;
}

.details-wrapper {
  width: 70%;
  display: flex;
  margin-top: 6rem;
}
.details-left {
  /* flex: 1; */
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.details-right {
  /* flex: 1; */
  width: 50%;
}

.details-left h2 {
  font-size: 36px;
  font-weight: 700;
}

.details-left p {
  font-size: 16px;
  line-height: 2rem;
  font-weight: 600;
  font-family: "Raleway";
}

.details-left button {
  width: fit-content;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2rem;
  font-size: 18px;
  cursor: pointer;
  background-color: #f1aa00;
  transition: all 0.5s ease;
  border: none;
  color: white;
}

.details-left button:hover {
  background-color: #ff236c;
}

.details-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.detail {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: white;
  color: black;
  font-size: 1rem;
  font-weight: 700;
}
.detail img {
  margin-left: 1.5rem;
  width: 3rem;
  object-fit: contain;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .slider-container .container .swiper .swiper-wrapper .swiper-slide {
    /* align-items: start; */
    display: flex;
    align-items: start;
    /* margin-top: 8rem; */
  }
  .header-nav span {
    font-size: 10px;
  }
  .hero-nav {
    height: 5rem;
  }
  .hero-nav .logo img {
    height: 4rem;
  }
  .first-slide-container {
    align-items: start;
  }
  .first-slide-container .wrapper .right .color-bars {
    top: 0;
    width: 6rem;
  }
  .first-slide-container .wrapper {
    margin-top: 6rem;
  }
  .first-slide-container .wrapper .right {
    gap: 1rem;
  }
  .first-slide-container .wrapper .left {
    display: none;
  }

  .first-slide-container .wrapper .right .image-top {
    /* display: none; */
    width: 6rem;
  }
  .first-slide-container .wrapper .right h1 {
    font-size: 32px;
  }
  .first-slide-container .wrapper .right h2 {
    font-size: 28px;
    line-height: 1.8rem;
  }
  .first-slide-container .wrapper .right p {
    font-size: 14px;
    width: 80%;
    line-height: 1rem;
  }
  .first-slide-container .wrapper .right button {
    font-size: 12px;
    padding: 1rem;
  }
  .second-slide-container {
    margin-top: 8rem;
  }
  .second-slide-container .creativity-doodle {
    width: 6rem;
    top: 0;
  }
  .second-slide-container .rocket-doodle {
    width: 6rem;
  }
  .second-slide-container .arts-doodle {
    width: 4rem;
  }

  .second-slide-container .wrapper {
    width: 90%;
    gap: 1rem;
  }
  .second-slide-container .wrapper div {
    width: 90%;
    font-size: 32px;
    line-height: 36px;
  }
  .second-slide-container .wrapper p {
    width: 90%;
    font-size: 14px;
    line-height: 18px;
  }
  .slide-three-left {
    width: 40%;
  }
  .slide-three-right {
    width: 60%;
    margin-top: 8rem;
  }

  .yellow-blob {
    z-index: 20;
    width: 8rem;
    right: 10rem;
    top: 8rem;
  }
  .red-blob {
    z-index: 20;
    width: 4rem;
    bottom: 8rem;
    right: 8rem;
  }
  .blue-blob {
    right: -1rem;
    top: -1rem;
    z-index: 20;
    width: 2rem;
  }

  .slide-three-right h1 {
    font-size: 28px;
  }
  .slide-three-right h2 {
    font-size: 26px;
  }
  .slide-three-right ul {
    font-size: 14px;
    line-height: 20px;
  }

  .service-wrapper .service {
    width: 100%;
  }

  .service-container {
    height: fit-content;
    font-size: 20px;
  }
  .service-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  /* Curriculum */
  .curriculum-container {
    height: fit-content;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .curriculum-card-container {
    height: fit-content;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .curriculum-card {
    padding: 2rem;
    /* height: 27rem; */
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
  }

  .curriculum-card-image img {
    height: 6rem;
    object-fit: contain;
  }
  .curriculum-card button {
    width: fit-content;
    background-color: transparent;
    border: none;
    color: rgb(35, 150, 165);
    font-size: 1.4rem;
  }

  /* Details */

  .details-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
  }
  .details-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .details-left h2 {
    font-size: 26px;
  }
  .details-left p {
    font-size: 16px;
    line-height: 26px;
  }

  .details-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .detail {
    height: fit-content;
    flex-direction: column;
    gap: 1rem;
  }
  .detail img {
    margin-left: 0;
    width: 3rem;
    object-fit: contain;
  }
}

@media screen and (max-width: 576px) {
}
